<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「今日の献立」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      今日の献立、何にする？
    </h2>
    <p class='service-explain'>
      迷っているあなたをお助けします
    </p>
  </div>
  <%# /画面上部の「今日の献立」帯部分 %>

  <%# レシピ一覧 %>
  <div class='recipe-contents'>
    <h2 class='title'>新着レシピ</h2>
    <%= image_tag "recipe.png", class: "recipe-img" %>
  </div>
  <%# /レシピ一覧 %>

</div>
<%= render "shared/footer" %>