footer {
  height: 65px;
  width: 100vw;
  padding: 1vh 0;
  color: #FFF;
  background-color: rgba(252, 187, 66, 0.702);
  text-align: center;
}

@media (max-width: 599px) {
  footer {
    width: 100%;
  }
}