header {
  width: 100vw;
  padding: 1vh 5vw;
  display: flex;
  align-items: center;
  background-color: rgb(254, 237, 191);
}

.app-name {
  font-size: 45px;
  text-decoration: none;
  color: #333333;
  font-family: 'Caveat', cursive;
}

.nav {
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
  padding: 1vh 0;
}

.lists {
  display: flex;
}

li {
  list-style: none;
}

.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #ffb300;
}

.logout {
  text-decoration: none;
  color: #ffb300;
  border: 1px solid #ffb300;
  padding: 10px;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #ffb300;
  border: 1px solid #ffb300;
  padding: 10px;
}

.sign-up {
  text-decoration: none;
  color: #ffb300;
  border: 1px solid #ffb300;
  padding: 10px;
}

