/* 画面上部の「今日の献立」帯部分 */
.title-contents {
  width: 100vw;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url('cook-top.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 10vw;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(250, 104, 0, 0.9);
}

.service-title {
  font-size: 6.5vh;
  margin: 45px auto;
}

.service-explain {
  font-size: 4vh;
  margin: 20px auto;

}
/* //画面上部の「今日の献立」帯部分 */

/* レシピ一覧 */
.recipe-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0;
  margin: 15vh 0;
}

.recipe-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  margin: 0 1vw;
}

.recipe-img {
  width: 33vh;
  height: 33vh;
  object-fit: cover;
}

.recipe-info {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.recipe-title {
  font-size: 2.5vh;
  
}


/* //レシピ一覧 */

