/* 画面上部の「今日の献立」帯部分 */
.title-contents {
  width: 100vw;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url('cook-top.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 10vw;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(250, 104, 0, 0.9);
}

.service-title {
  font-size: 6.5vh;
  margin: 45px auto;
}

.service-explain {
  font-size: 4vh;
  margin: 20px auto;
}
/* //画面上部の「今日の献立」帯部分 */


.main-recipes {
  display: flex;
  justify-content: space-evenly;
  background-color:rgba(242, 234, 227, 0.963);
  padding: 6vh 5vw;
}

/* ランキング */
.recipe-rank {
  background-color: #FFF;
  width: 20vw;
  border-radius: 5px;
  padding: 2vh 2vw;
  text-align: center;
}

.ranking-title {
  margin: 3vh 0 4vh;
}

.ranking {
  padding-bottom: 2vh;
  text-align: center;
}

.ranking-rank {
  margin-bottom: 2vh;
}

.ranking-img {
  width: 12.5vw;
  height: 12.5vw;
  object-fit: cover;
  margin: 1vh auto 0;
  display: block;
}
.annotation {
  color: gray;
  font-size: small;
  text-align: right;
}
/* //ランキング */


/* 検索 */
.main-recipe-search {
  background-color: #FFF;
  margin-bottom: 7vh;
  border-radius: 5px;
  padding: 1vh 0vw 5vh;
}
.search-title {
  text-align: center;
  margin-bottom: 5vh;
}
.search-contents {
  display: flex;
  justify-content: space-around;
}
/* //検索 */


/* レシピ一覧 */
.recipe-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 3vh 0vw;
}
.title {
  margin-bottom: 5vh;
}
.recipe-lists {
  width: 63vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  margin: 0 1vw;
}

.recipe-img {
  width: 17vw;
  height: 17vw;
  object-fit: cover;
}

.recipe-info {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.recipe-title {
  font-size: 2.5vh;
}
/* //レシピ一覧 */


/* スマホ表示時 */
 @media (max-width: 599px) {
  .title-contents {
    height: 20vh;
    align-items: center;
  }
  
  .service-title {
    font-size: 6vw;
    margin: 25px auto;
  }
  
  .service-explain {
    font-size: 3vw;
    margin: 10px auto;
  }

 }