/* レシピ大枠 */
.recipe-show {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  padding-bottom: 10vh;
}
/* レシピ大枠 */

/* 編集削除項目 */
.more {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.recipe-show-list {
  display: flex;
  justify-content: end;
  margin: 3vh 0;
  width: 80vw;
}

.edit-btn {
  text-decoration: none;
  margin-right: 3vw;
  color: #FFF;
  background-color: orangered;
  border-radius: 10px;
  padding: 10px 20px;
}

.delete-btn {
  text-decoration: none;
  color: #FFF;
  background-color: gray;
  border-radius: 10px;
  padding: 10px 20px;
}
/* 編集削除項目 */

/* レシピ概要 */
.recipe-box {
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  min-width: 450px;
  padding: 2vh 2vw;
}

.recipe-show-img {
  width: 50vh;
  height: 50vh;
  object-fit: cover;
}

.right-show-recipe {
  width: calc(100% - 60vh);
  margin: 3vh  0 3vh 3vh;
  min-width: 300px;
}

.detail-content {
  margin-bottom: 5vh;
}

.detail-recipe {
  margin-bottom: 2vh;
  font-size: large;
  font-weight: 550;
}

.detail-value {
  background-color: rgba(250, 238, 221, 0.652);
  border-radius: 15px;
  padding: 30px;
}

.detail-URL {
  color: gray;
  text-align: center;
}

.post-user {
  display: flex;
  justify-content: end;
}

.post-user-name {
  color: gray;
  padding-left: 5vw;
}

.like_post-user {
  display: flex;
  justify-content: right;
  padding-top: 2vh;
}
/* レシピ概要 */

/* ボーダー線 */
.comment-border {
  width: 80vw;
  background-color: #ffffff;
}
.border {
  border-top : dashed 2px #333;
  width: 70vw;
  margin: 3vh auto;
}
/* ボーダー線 */

/* コメント欄 */
.comments-index {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding: 5vh 0 7vh;
  margin: 0 auto;
  width: 80vw;
}

.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comments {
  width: 50vw;
}

.comment{
  display: flex;
}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}
/* /コメント欄 */

/* 900px以下の場合に縦並びに切り替える */
@media (max-width: 920px) {
  .recipe-show-list,
  .comment-border,
  .comments-index {
    width: 95vw;
  }
  .recipe-box {
    flex-direction: column;
    width: 95%; /* 横幅いっぱいに広がるように設定 */
  }
  .left-show-recipe,
  .right-show-recipe {
    width: 95%; /* 画面サイズに合わせて幅を100%に設定 */
    flex-basis: 95%; 
  }
}
